@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);
  --clr-trans-white: hsla(0, 0%, 100%, 0.75);
  --clr-very-light-gray: hsl(0, 0%, 95%);
  --font-lexend: "Lexend Deca", sans-serif;
  --font-big-shoulder: "Big Shoulders Display", cursive;
}

*,
::before,
::after {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--clr-very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
}

main {
  width: 100vw;
  display: inline-grid;
  place-content: center;
  overflow: hidden;
  border-radius: 20px;
}

section {
  padding: 3.5rem 2.5rem;
  height: 450px;
}

section div {
  display: inline-grid;
  gap: 40px;
}

section div h1 {
  font-family: var(--font-big-shoulder);
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--clr-trans-white);
}

section div p {
  font-family: var(--font-lexend);
  color: var(--clr-trans-white);
  font-size: 0.95rem;
  line-height: 1.4rem;
}

section div button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 45px;
  border-style: none;
  font-family: var(--font-lexend);
}

.sedan {
  background-color: var(--clr-bright-orange);
}

.sedan div button {
  color: var(--clr-bright-orange);
}

.suv div button {
  color: var(--clr-dark-cyan);
}

.luxury div button {
  color: var(--clr-very-dark-cyan);
}

.suv {
  background-color: var(--clr-dark-cyan);
}

.luxury {
  background-color: var(--clr-very-dark-cyan);
}

button {
  background-color: var(--clr-very-light-gray);
}

button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: var(--clr-trans-white);
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 1439px) {
  main {
    width: 70vw;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    overflow: hidden;
  }
  section {
    height: 100%;
    padding-top: 3rem;
    padding-left: 2.5rem;
  }

  div {
    height: 100%;
  }

  section div h1 {
    font-size: 3.2rem;
  }

  section div p {
    font-size: 1.12rem;
    max-width: 85%;
    line-height: 1.5rem;
  }

  section div button {
    margin-top: 3rem;
    width: 9rem;
    height: 3.5rem;
  }
}
